<h3>Available Katas:</h3>

<div class="buttonPanel">
    <div class="button">
        <a href="#/minesweeper" class="linkWithoutDecoration kataFont">Minesweeper</a>
    </div>
</div>
<br/>
<div class="buttonPanel">
    <div class="button">
        <a href="#/fizzbuzz" class="linkWithoutDecoration kataFont">FizzBuzz</a>
    </div>
</div>
<br/>
<div class="buttonPanel">
    <div class="button">
        <a href="#/gameoflife" class="linkWithoutDecoration kataFont">Game of Life</a>
    </div>
</div>